@media screen and (max-width: 600px) {
	#wpadminbar {
	    position: fixed;
	}
}

img.custom-logo {
	max-height: 38px;
	width: auto;
}

#page {
	margin: 20px auto;
}

ul.navbar-nav {
	margin: 0;
	padding: 0;
}