ol, ul {
	margin: 0;
	padding: 0;
}

#secondary {
	li {
		border-bottom: 1px dotted $grey;
		list-style-type: none;
		padding: 5px 0;
	}

	.widget {
		padding: 15px;
	}
}



@media screen and (max-width: 600px) {
	#wpadminbar {
	    position: fixed;
	}
}